<suite name="Regression Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.SearchTest"/>
            <class name="tests.CategoryTest"/>
            <class name="tests.PicturePageTest"/>
            <class name="tests.FavoritesTest"/>
            <class name="tests.ShoppingCartTest"/>
        </classes>
    </test>

    <test name="Firefox Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.SearchTest"/>
            <class name="tests.CategoryTest"/>
            <class name="tests.PicturePageTest"/>
            <class name="tests.FavoritesTest"/>
            <class name="tests.ShoppingCartTest"/>
        </classes>
    </test>
</suite>